.all{
  background-color: aqua;
  text-align: center;
  border-radius: 1em;
  padding: 3em;
  width: 1250px;
}

.home{
    background-color: aliceblue;
    padding: 6em;
    border-radius: 1em ;
    margin-left: 160px;
}

.aa{
  color: white;
  background-color:white;
  text-align: center;
  background-image: url(/public/Images/banner.jpg) ;
  border-radius: 2em; 
}


img{
  height: 200px;
  width: 200px;
  filter: brightness(1000%);
}

.button{
  text-align: center;
  background-color: #22c55e;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
}

#scroller{
  width: 800px;
  height: 400px;
  overflow: scroll;
  scrollbar-color: grey lightblue;
}
