.all{
  background-color: aqua;
  text-align: center;
  border-radius: 1em;
  padding: 0em;
  width: 1350px;
  margin: 1px;
}

.home{
    background-color: aliceblue;
    padding: 6em;
    border-radius: 1em ;
    margin-left: 300px;
    margin:100px;
    margin-top: 50px;
    margin-bottom: 1px;
}

.aa{
  color: white;
  background-color:white;
  text-align: center;
  background-image: url(/Images/college-banner-Cz0xylpt.png) ;
  border-radius: 1em; 
  margin-bottom: 20px;
  margin-top: 1px;
  
}


img{
  height: 300px;
  width: 300px;
  
}

.button{
  text-align: center;
  background-color: #22c55e;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
}

#scroller{
  width: 800px;
  height: 400px;
  overflow: scroll;
  scrollbar-color: grey lightblue;
}
